@mixin border-radius() {
	border-radius: 5px;
}

@mixin transition($property) {
	transition: $property 400ms ease;
}

$veryLightGrey:	#ddd;
$lightGrey:		#999;
$grey:		 	#666;
$darkGrey:		#333;

$mammals:	#ef6930;
$birds:		#9db58f;
$amphibians:#687a94;
$insects:	#e5ae5a;

.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outer-wrapper {
	width: 100%;
	position: relative;
	border: 1px solid #c8c7cf;

	h2,h3,p {
		padding: 10px 10px 0 10px;
		margin: 0;
	}

	.key {
		padding: 10px 10px 0 10px;
		margin: 0;

		.breakdown {
			margin-left: 17px;

			li {
				list-style: disc;
			}
		}

		.number {
			font-weight: bold;
		}

		.list-unit {
			font-size: 0.8em;
			color: $grey;
		}

		.mammals {
			color: $mammals;
		}

		.birds {
			color: $birds;
		}

		.amphibians {
			color: $amphibians; 
		}

		.insects {
			color: $insects;
		}
	}

	.chart {
		position: relative;
	}

	.chart-container {
		position: absolute;
	}

	.widget-tooltip {
		@include transition(opacity);
		@include border-radius;
		position: absolute;
		width: 200px;
		height: auto;
		padding: 6px 10px 6px 15px;
		color: $veryLightGrey;
		background-color: $darkGrey;
		pointer-events: none;
		box-shadow: 2px 2px 5px $darkGrey;
		line-height: 1.4em;
		opacity: 1;

		p {
			padding: 0;
		}

		span {
			font-weight: bold;
			color: #fff;
		}
	}

	.left:before {
		content: "";
		position:absolute;
		top: 10px;
		left: -8px;
		border-bottom: 8px solid transparent;
		border-left: 0;
		border-right: 8px solid $darkGrey;
		border-top: 8px solid transparent;
		opacity: 1;
	}

	.right:before {
		content: "";
		position:absolute;
		top: 10px;
		right: -8px;
		border-bottom: 8px solid transparent;
		border-left: 8px solid $darkGrey;
		border-right: 0;
		border-top: 8px solid transparent;
		opacity: 1;
	}

	.hidden {
		opacity: 0;
		pointer-events: none;
	}

	.options {
		// @include breakpoint(large-screen) { 
		// 	-webkit-column-count: 3;
		// 	-moz-column-count: 3;
		// 	column-count: 3;
		// }

		// @include breakpoint(med-screen) { 
		// 	-webkit-column-count: 2;
		// 	-moz-column-count: 2;
		// 	column-count: 2;
		// }

		-webkit-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;

		// background-color: #ddd;
		padding: 10px 0 0 0;
		overflow: hidden;

		ul {
			overflow: visible;
			padding-left: 0px;
			margin: 0;
			li {
				list-style: none;
				padding: 0 0 0 10px;
				margin: 4px 0px 8px;
				display: inline-block;
			}
		}

		input[type="checkbox"] {
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin-right: 5px;
			position: relative;
			width: 20px;
			background-color: #666;
			-webkit-appearance: none;
		}

		input[type="checkbox"]:after {
			content: "\2714";
			font-size: 1em;
			display: inline-block;
			left: 0.3em;
			position: relative;
			top: 0.15em;
		}


		input[type="checkbox"]:after {
		    color: #666;
		}

		input[type="checkbox"]:checked:after {
			color: #fff;
		}

		@media only screen and (-webkit-min-device-pixel-ratio : 1.5) {
			input[type="checkbox"]:after {
				font-size: 1.3em;
				left: 0;
				top: -0.3em;
				border: none;
			}
		}
	}

} // outerwrapper

