.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outer-wrapper {
  width: 100%;
  min-height: 900px;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outer-wrapper h2, .outer-wrapper h3, .outer-wrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper .key {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper .key .breakdown {
  margin-left: 17px;
}
.outer-wrapper .key .breakdown li {
  list-style: disc;
}
.outer-wrapper .key .number {
  font-weight: bold;
}
.outer-wrapper .key .list-unit {
  font-size: 0.8em;
  color: #666666;
}
.outer-wrapper .key .mammals {
  color: #ef6930;
}
.outer-wrapper .key .birds {
  color: #9db58f;
}
.outer-wrapper .key .amphibians {
  color: #687a94;
}
.outer-wrapper .key .insects {
  color: #e5ae5a;
}
.outer-wrapper .chart ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 11px;
}
.outer-wrapper .chart li {
  border-radius: 5px;
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin: 1px;
  opacity: 0;
}
.outer-wrapper .chart .visible {
  opacity: 1;
  cursor: pointer;
}
.outer-wrapper .chart li > p {
  border-radius: 5px;
  position: absolute;
  background-color: #333;
  color: #eee;
  padding: 10px;
  z-index: 99;
  width: 150px;
  left: -40px;
  top: 14px;
  box-sizing: border-box;
  pointer-events: none;
  line-height: 1.3em;
  box-shadow: 2px 2px 5px #666666;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.outer-wrapper .chart li > p:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 36px;
  border-bottom: 8px solid #333;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
  opacity: 1;
}
.outer-wrapper .chart .inactive > p {
  display: none;
}
.outer-wrapper .chart .mammals {
  background-color: #ef6930;
}
.outer-wrapper .chart .birds {
  background-color: #9db58f;
}
.outer-wrapper .chart .amphibians {
  background-color: #687a94;
}
.outer-wrapper .chart .insects {
  background-color: #e5ae5a;
}
.outer-wrapper .chart .null {
  background-color: #dddddd;
}
.outer-wrapper .options {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.outer-wrapper .options ul {
  overflow: visible;
  padding-left: 0px;
  margin: 0;
}
.outer-wrapper .options ul li {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 4px 0px 8px;
  display: inline-block;
}
.outer-wrapper .options input[type="checkbox"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  width: 20px;
  background-color: #666;
  -webkit-appearance: none;
}
.outer-wrapper .options input[type="checkbox"]:after {
  content: "\2714";
  font-size: 1em;
  display: inline-block;
  left: 0.3em;
  position: relative;
  top: 0.15em;
}
.outer-wrapper .options input[type="checkbox"]:after {
  color: #666;
}
.outer-wrapper .options input[type="checkbox"]:checked:after {
  color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .outer-wrapper .options input[type="checkbox"]:after {
    font-size: 1.3em;
    left: 0;
    top: -0.3em;
    border: none;
  }
}
