.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.outer-wrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
}
.outer-wrapper h2, .outer-wrapper h3, .outer-wrapper p {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper .key {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outer-wrapper .key li {
  list-style: none;
}
.outer-wrapper .key .breakdown {
  margin-left: 17px;
}
.outer-wrapper .key .breakdown li {
  list-style: disc;
}
.outer-wrapper .key .number {
  font-weight: bold;
}
.outer-wrapper .key .list-unit {
  font-size: 0.8em;
  color: #666666;
}
.outer-wrapper .key .mammals {
  color: #ef6930;
}
.outer-wrapper .key .birds {
  color: #9db58f;
}
.outer-wrapper .key .amphibians {
  color: #687a94;
}
.outer-wrapper .key .insects {
  color: #e5ae5a;
}
.outer-wrapper .chart {
  position: relative;
}
.outer-wrapper .chart-container {
  position: absolute;
}
.outer-wrapper .widget-tooltip {
  -webkit-transition: opacity 400ms ease;
          transition: opacity 400ms ease;
  border-radius: 5px;
  position: absolute;
  width: 200px;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #dddddd;
  background-color: #333333;
  pointer-events: none;
  box-shadow: 2px 2px 5px #333333;
  line-height: 1.4em;
  opacity: 1;
}
.outer-wrapper .widget-tooltip p {
  padding: 0;
}
.outer-wrapper .widget-tooltip span {
  font-weight: bold;
  color: #fff;
}
.outer-wrapper .left:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -8px;
  border-bottom: 8px solid transparent;
  border-left: 0;
  border-right: 8px solid #333333;
  border-top: 8px solid transparent;
  opacity: 1;
}
.outer-wrapper .right:before {
  content: "";
  position: absolute;
  top: 10px;
  right: -8px;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #333333;
  border-right: 0;
  border-top: 8px solid transparent;
  opacity: 1;
}
.outer-wrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
.outer-wrapper .options {
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  padding: 10px 0 0 0;
  overflow: hidden;
}
.outer-wrapper .options ul {
  overflow: visible;
  padding-left: 0px;
  margin: 0;
}
.outer-wrapper .options ul li {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 4px 0px 8px;
  display: inline-block;
}
.outer-wrapper .options input[type="checkbox"] {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  position: relative;
  width: 20px;
  background-color: #666;
  -webkit-appearance: none;
}
.outer-wrapper .options input[type="checkbox"]:after {
  content: "\2714";
  font-size: 1em;
  display: inline-block;
  left: 0.3em;
  position: relative;
  top: 0.15em;
}
.outer-wrapper .options input[type="checkbox"]:after {
  color: #666;
}
.outer-wrapper .options input[type="checkbox"]:checked:after {
  color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .outer-wrapper .options input[type="checkbox"]:after {
    font-size: 1.3em;
    left: 0;
    top: -0.3em;
    border: none;
  }
}
